.main-title {
    color: #480fa3;
    text-align: center;
    font-size: 4rem;
}

.elements-title {
    color: #563c81;
    text-align: center;
    font-size: 2rem;
}

.basic-infos {
    display: flex;
    justify-content: space-around;
}

table {
    text-align: center;
}