.titre {
    color: #4f2769;
    text-align: center;
    font-size: 3rem;
}

code {
    color: #FF0000;
}


.rouge {
    color: #FF0000;
}

.vert {
    color: #00ff9d;
}

#li8 {
    color: #1549bb;
}